body {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.05em;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 30vh;
  background-image: linear-gradient(#257d54, #10472a);
  padding: 3em 0 6em 5vw;
  color: white;
  text-transform: uppercase;
  text-align: left;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: 0;
}

@media (min-width: 768px) {
  header {
    height: 15vh;
  }
}

svg {
  display: block;
  width: 100vw;
  height: 20vw;
  overflow: hidden;
  margin-top: -1px;
}

.container {
  display: grid;
  grid-template-columns: 5vw auto 5vw;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 15vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 5vw;
}

article {
  background-color: #fafcfa;
  display: flex;
  flex-direction: row;
  border-radius: 4em;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

article:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

article img {
  width: 100%;
}

article>div:first-child {
  padding: 6vh 3vw;
  width: 60%;
  /* background-color: white; */
}

article>div:nth-child(2) {
  width: 40%;
  object-fit: contain;
  padding: 5vh 5vw 5vh 0;
}

article:nth-child(4n - 3) {
  background-color: #ffd7ad;
}

article:nth-child(4n - 2) {
  background-color: #add2ff;
}

article:nth-child(4n - 1) {
  background-color: #facdfa;
}

article:nth-child(4n) {
  background-color: #c7e2c6;
}