body {
  color: #10472A;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #10472A;
}

a:visited {
  color: #10472A;
}

header {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 5vw repeat(5, 1fr) 5vw;
  grid-template-rows:  5vh auto 5vh;
  position: relative;
  text-transform: uppercase;
}

header>h3 {
  background-color: rgba(255, 184, 246, 0.7);
  padding: 1em 2em;
  grid-row: 3/5;
  border-radius: 0 50px 50px 0;
  margin-bottom: 2em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header>div:first-child {
  grid-row: 2/6;
  grid-column: 2/7;
  position: relative;
  height: 60vh;
  background-image: url(header-small.jpg);
  background-size: cover;
  padding: 20vh 0 6em 10vw;
  color: white;
  text-align: left;
  z-index: -1;
  filter: grayscale(0%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header>div:nth-child(2) {
  border-radius: 50px 0 0 50px;
  background-color: rgba(170, 224, 167, 0.7);
  z-index: -1;
  grid-row: 4/5;
  grid-column: 3/8;
  padding: 5vh 3em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

h1 {
  font-size: 3em;
  margin-top: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
}

h3 {
  font-size: 1em;
  margin-top: 0;
}

header h3 {
  grid-row: 5/6;
  grid-column: 1/5;
  padding-top: 1em;
  text-align: right;
  margin-top: 1em;
}

header h3:first-child {
  text-align: start;
  margin-top: 0;
}

svg {
  display: block;
  width: 100vw;
  height: 10vw;
  overflow: hidden;
  margin-top: -1px;
}

main {
  padding-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 5vw;
}

.container {
  padding: 5vh 5vw 5vh 5vw;
  text-align: center;
  min-height: 85vh;
}

article {
  border-radius: 50px;
  background-color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: start;
}

article.home {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.detaillarge {
  margin-top: 0;
  font-size: 3em;
}

article:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

article img {
  width: 100%;
}

img {
  max-width: 50vw;
}

.homeFood {
  flex-direction: column;
  justify-content: center;
}

img.header {
  margin: 5vh 0;
  max-height: 60vh;
}

article>div:first-child {
  padding: 10% 3vw;
  width: 60%;
}

article>div:nth-child(2) {
  width: 40%;
  min-width: 20%;
  object-fit: contain;
  padding: 10% 3vw 10% 0;
}

a:nth-child(4n - 3) article {
  background-color: #ffd7ad;
}

a:nth-child(4n - 2) article {
  background-color: #add2ff;
}

a:nth-child(4n - 1) article {
  background-color: #facdfa;
}

a:nth-child(4n) article {
  background-color: #c7e2c6;
}

.container1 {
  background-color: #ffd7ad;
}

.container2 {
  background-color: #add2ff;
}

.container3 {
  background-color: #facdfa;
}

.container4 {
  background-color: #c7e2c6;
}

span {
  display: flex;
  justify-content: start;
  padding: 1em 0;
  flex-wrap: wrap;
}

span>h3,span>h1,span>p,span>h2 {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}

span>label {
  padding-left: 1.5em;
  padding-bottom: 0;
}

span>label.listprice {
  padding-left: 1em;
  padding-bottom: 0;
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.prices>span:first-child {
  padding-bottom: .5em;
}

.prices>span {
  padding-top: 0;
}

.detailpage span>h3,span>h1,span>p,span>h2 {
  padding-left: 0;
}

.detailpage h3,.detailpage h1,.detailpage p,.detailpage h2 {
  text-transform: none;
}

span>h3:nth-child(2), p.detaillarge, label, .source {
  opacity: 0.7;
}

footer {
  padding: 5vh 10vw;
  max-height: 15vh;
}

footer a {
  text-decoration: underline;
}

.menu {
  position: absolute;
  width: 90vw;
  display: flex;
  flex-direction: row;
  padding-left: 5vw;
  z-index: 3;
}

.menu span {
  margin: 0;
  padding: 4vh 0 0 0;
}

.menu p {
  margin: 0;
  padding-right: 2vw;
}

.menu p:first-child {
  padding-right: .5em;
}

.about {
  padding-top: 10em;
}

.about>.container {
  text-align: start;
  max-width: 800px;
  margin: auto;
}

section {
  padding-bottom: 2em;
  padding-left: 3em;
  width: 100%;
}

.flag {
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
  display: flex;
  background-color: rgba(255,255,255,0.8);
  margin-left: -3.3vw;
  padding-bottom: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.flag>img {
  width: 2em;
}

.flag>p {
  padding-left: 1em;
}

.month {
  width: 100vw;
  padding: 3em 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 95vw;
  margin: auto;
}

.month h3 {
  margin: auto;
}

.month>span {
  padding: 0;
}

button {
  font-size: 1em;
  position: relative;
  display: block;
  margin: auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #10472A;
  color: #fff;
  transition: background-color .3s;
}

button:hover, button:focus {
  background-color: rgb(21, 88, 53);
}

button > * {
  position: relative;
}

button span {
  display: block;
  padding: 12px 24px;
  margin: auto;
}

button:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

iframe {
  border: 0; 
  position: absolute; 
  top: 0; 
  left: 0; 
  max-width: 100%; 
  max-height: 100%; 
  min-width: 100%; 
  min-height: 100%; 
  width: 0; 
  height: 0
}

.chart {
  position: relative; 
  padding-bottom: 75%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
}

select {
  margin: 1em auto 0 auto;
  text-align: center;
  display: block;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 1.2em 1.4em 1em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}

video {
  padding-top: 3em;
}

article>div:nth-child(2).detaildiv {
  width: 75%;
  padding-left: 5vw;
  
}

.source {
  text-decoration: underline;
}

.wait {
  padding-top: 20vh;
}

article>div:first-child.badge {
  color: white;
  position: absolute;
  padding: 1em;
  right: 0;
  margin-right: 15vw;
  width: auto;
  background-color: rgb(71,117,246);
  font-size: 24px;
  border-radius: 0 0 .5em .5em;
}

.logo {
  width: 30px;
  height: 30px;
  margin: auto;
}

.menu>a>span>.logo {
  padding-right: .5em;
}

@media only screen
and (min-width: 320px)
and (max-width: 700px)
and (-webkit-min-device-pixel-ratio: 2)
{
body{
font-size: 36px;
}
article>div:nth-child(2) {
  width: 30%;
}
select {
  font-size: 36px;
}
}